//- Core Site Setup
- var siteTitle = '_Base Template'
- var siteDesc = 'Starting point for static sites'
- var siteLongDesc = siteDesc + ' with an awesome dev workflow' // Leave space at beginning of string
- var siteUrl = ''
- var siteEmail = '' // Base64 encode
- var sitePhone = ''
- var googleAnalyticsID = ''

//- Social
- var twitterHandle = '' // Include @
- var twitterUrl = ''
- var instagramUrl = ''
- var linkedinUrl = ''

//- Assets
- var googleFont = 'https://fonts.googleapis.com/css?family=Montserrat'
- var iconsCDN = 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'
- var imgLoc = 'assets/img/'
- var siteCSS = 'assets/css/main.min.css'
- var criticalCSS = 'assets/css/critical.css'
- var siteJS = 'assets/js/main.min.js'
- var vendorJsSrc = 'assets/js/vendor/vendor.min.js'

