footer
  .s1-2
    span.copyright &copy; <span class="js-year"></span> #{siteTitle}.
  .s1-2.tar
    a(href=twitterUrl): span.ion-social-twitter
    a(href=instagramUrl): span.ion-social-instagram
    a(href=linkedinUrl): span.ion-social-linkedin

include load-css
script(src=vendorJsSrc)
script(src=siteJS)