mixin navLink(link, name)
  li.main-nav__item
    a(
      href=link
      class={active: name === currentPage}
    ) #{name}

nav.main-nav
  ul
    +navLink('/', 'Home')
    +navLink('contact', 'Contact')

