include ../includes/config

doctype html
html(lang="en-GB")
  include ../includes/head

  body(class=bodyClass, data-page=dataPage)
    include ../includes/header

    .wrapper
      block content
        h1.page-title #{currentPage}

    include ../includes/footer