.btn
  color link-hover
  display inline-block
  background white
  padding 10px 25px
  border-radius 25px
  margin-top 15px
  margin-bottom 25px
  text-decoration none
  transition all .2s ease-in-out
  &:hover
    color link-color
    background link-hover