*
  box-sizing border-box

html
  width 100%
  overflow-x hidden

body
  width 100%
  color text-color
  position relative
  font-family primary-font
  font-size base-font-size
  font-weight base-font-weight
  line-height base-line-height
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  &.no-scroll
    overflow hidden
    @media mobile
      height 100vh
      width 100vw

header
  span(1)
  background header-background
  padding site-gutter
  z-index 1

.wrapper
  center(site-width, site-gutter)
  img
    max-width 100%

footer
  span(1)
  padding site-gutter - 20 site-gutter site-gutter - 20
  font-size base-font-size - 2
  .s1-2
    @media mobile
      stack()
  a
    color brand-color
    font-size base-font-size
    margin-left 20px
    border none
    &:hover
      color link-hover
    &:first-child
      margin 0
  @media mobile
    text-align center!important
    font-size base-font-size

.copyright
  color lighten(text-color, 70%)

