//GRID FUNCTION
s-col(n)
  col(n)
  &--stack
    col(n)
    @media mobile
      stack()

link(c)
  color: c
  text-decoration: none
  transition: c 0.3s
  position: relative
  &::before
    position: absolute
    top: 100%
    left: 50%
    color: transparent
    content: '•'
    text-shadow: 0 0 transparent
    font-size: 1.2em
    transition: text-shadow 0.3s, color 0.3s
    transform: translateX(-50%)
    pointer-events: none
  &:hover::before,
  &:focus::before
    color: c
    text-shadow: 10px 0 c, -10px 0 c
  &:hover,
  &:focus
    color: c

smooth-transition(s = .4s,  f = 0.2s)
  transition all s cubic-bezier(.52,.01,.16,1) f