nav
  ul
    list-style none
    margin 0
    padding 0
  a
    link(brand-color)
    margin-left: 25px

.main-nav
  text-align right
  padding-top 10px
  &__item
    display inline-block
    &:first-child > a
      margin: 0
