.s1
  span(1)
.s1-2
  s-col(1/2)
  .latest-work &
    @media mobile
      stack()
      margin-bottom 30px
      img
        max-width 100%
.s1-3
  s-col(1/3)
  img
    max-width 100%
  @media mobile
    stack()
    margin-bottom 30px

.tal
  text-align left
.tac
  text-align center
.tar
  text-align right
  @media mobile
    text-align center
