extends templates/layout

block head
  - var currentPage = "Contact"
  - var bodyClass = currentPage.replace(/\s+/g, '-').toLowerCase()
  - var dataPage = "contact"
  title #{currentPage} | #{siteTitle}

block content
  .s1
    h1.page-title #{currentPage}
    p Here's where you can get in touch.
