extends templates/layout

block head
  - var currentPage = "Home"
  - var bodyClass = currentPage.replace(/\s+/g, '-').toLowerCase()
  - var dataPage = "home"
  title #{siteTitle} | #{siteDesc}

block content
  .s1
    h1.page-title #{siteTitle}
    p #{siteDesc}



